/* body {
 background-color: blue; 
} */
/* .shopify-buy__product__variant-selectors {
  display: flex;
  flex-wrap: wrap;
} */

.shopify-buy__collection .optionBubble {
  display: inline-block !important;
  padding: 3px 5px;
  border-radius: 2px;
  border: 1px solid #eee;
}

.shopify-buy__btn {
  background-color: !important green;
}